<p-table [value]="repositories">
    <ng-template pTemplate="header">
        <tr>
            <th>Repository Name</th>
            <th>Author's Full Name</th>
            <th>Avator</th>
            <th>Create Date</th>
            <th>View Commits</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-repositorie>
        <tr>
            <td>{{repositorie.name}}</td>
            <td>{{repositorie.owner.display_name}}</td>
            <td><img src="{{repositorie.owner.links.avatar.href}}" /></td>
            <td>{{repositorie.created_on | date: 'dd/MM/yyyy'}}</td>
            <td><a [routerLink]="['/commits', repositorie.full_name]">View Commits</a></td>
        </tr>
    </ng-template>
</p-table>
